
.footer{
    background: linear-gradient(
        180deg,
        #0b0b0b 0%,
        #1a1410 40%,
        #3b2a1c 70%,
        #5a3d26 100%
    );

    border-top: 1px solid rgba(212,160,58,0.2);
    padding: 45px 20px 25px;
}

.footer-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

/* LOGO */

.footer-logo h2{
    font-family:'Playfair Display',serif;
    font-size: 32px;

    background: linear-gradient(90deg,#f5d07a,#c78a2c);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    margin-bottom: 6px;
    text-align: center;
}

.footer-logo p{
    color:#b89b6b;
    font-size:14px;
    letter-spacing:2px;
    text-align:center;
}


.footer-bottom{
    width:100%;
    padding-top:18px;
    border-top:1px solid rgba(255,255,255,0.05);
}

.footer-bottom p{
    text-align:center;
    color:#8f7b5b;
    font-size:13px;
}